:root{
	--nav-drawer:#212020;
	--appbar:#3a3636;
	--appbar-content:#212020;
	--drawer-menu:white;
	--profile-container:#3a3636;
	--user-logo:#3a3636;
	--hover:#3a3636;
	--text-color:white;
	--beforeandafter:#3a3636;
	--logo-color:white;
	--content-box:#9E9E9E;
	--grey:#3a3636;
	--notif-title:white;
	--message-box:#3a3636;
	--send-color:white;
	--text-area:white;
	--switch:white;
	--form:#212020;
	--info:#212020;
}