.grid-container{
	height:80vh;
}
.main-cards{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap:20px;
	margin: 20px 0;
}
.card{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 25px;
	background-color:#ffffff;
	box-sizing: border-box;
	border: 1px solid #d2d2d3;
	border-radius: 5px;
	box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}
.card:first-child{
	border-left: 7px solid #009999;
}
.card:nth-child(2){
	border-left: 7px solid #009999;
}
.card:nth-child(3){
	border-left: 7px solid #009999;
}
.card:nth-child(4){
	border-left: 7px solid #009999;
}
.charts{position: absolute;height: 100%;width: 100%;padding-bottom: 30px;position: r;}
.charts-card{
	background-color:#ffffff;
	margin-bottom:50px;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	border: 1px solid #d2d2d3;
	border-radius: 5px;
	box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
	height:400px;
}
.charts-title{
	display:flex;
	align-items:center;
	justify-content: center;
	font-size: 22px;
	font-weight:600;
}
.dash_1 {
    display: flex;
    width: 100%;
    position: relative;
    
    justify-content: space-around;
    gap: 20px;
    /* position: absolute; */
    /* background: linear-gradient( to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) ); */
    border-radius: 5px;
}
.dash_2 {
	display: grid;
	width: 100%;
	position: relative;
	height: 50%;
	/* justify-content: space-around; */
	gap: 20px;
	/* position: absolute; */
	/* background: linear-gradient( to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) ); */
	/* border-radius: 5px; */
	border-top: 1px #cfcfcf solid;
	grid-template-rows: repeat(3,1fr);
	gap: 5px;
	padding: 5px;
	}

.card_2:before {
    content: "";
    border: 1px #cfcfcf solid;
    position: absolute;
    left: -15px;
    height:95%;
}

.card_3:before {
    content: "";
    border: 1px #cfcfcf solid;
    position: absolute;
    left: -10px;
    height:95%;
}
.card_1 {
	position: relative;
	padding: 10px;
	height: 100%;
	width: 100%;
	gap: 20px;
}

.card_data {
    display: flex;
    justify-content: space-around;
    width: 100%;

    position: relative;
    padding: 10px;
    background: linear-gradient( to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) );
    box-shadow: 0px 0px 20px rgb(8 5 5 / 19%);
    border-radius: 5px;
    margin: 5px;
}

.card_2 {
    width: 100%;
    
    position: relative;
    /* background: linear-gradient( to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) ); */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    /* box-shadow: 0 7px 25px rgb(0 0 0 / 34%); */
}
.card_data_holder {
    text-align: center;
    width: 100px;
    gap: 10px;
}

.card_title {
    padding: 5px;
}
.card_3 {
    width: 100%;
   
    position: relative;
    /* background: linear-gradient( to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) ); */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    /* box-shadow: 0 7px 25px rgb(0 0 0 / 34%); */
}
.card_data_status {
    position: absolute;
    height: 100%;
    width: 100%;
    /* padding: 5px; */
}
.selection-box-graph {
    background: transparent;
}

@media (max-width:500px){
	.main-content{
		overflow:auto;
	}
	.dash_1{
		display:block;	
	}
	.card_1{
		display:grid;
	}
	   .card_2,.card_3{
        height:100%;
    }
	.Navigation-Drawer .active{
		width:0px;
	}
	.Appbar.active {
		width: calc(100% - 0px);
		left: 0px;
	}
}